@media only screen and (max-width: 600px) 
{
    header {
        justify-content: center;
    }

    h1 {
        font-size: 2em;
    }

    #lista-cribs {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .card {
        width: 80%;
        align-self: center;
        margin: 2% auto;
    }

    .card:nth-child(3n),
    .card:nth-child(3n+1) {
        margin: 4% auto;
    }

    .card-img {
        height: 40vh;
    }
}