/* -----------------------------------------------------------
                            GABARITO
----------------------------------------------------------- */
/* * {
    border: red 1px solid;
} */
/* -----------------------------------------------------------
                            GLOBAL
----------------------------------------------------------- */
body, ul, h1, h2, h3, p, li, a  {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

body {
    min-width: 100vh;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

/* -----------------------------------------------------------
                            CARD
----------------------------------------------------------- */
#app {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 32%;

    background-color: #eee;
    color: #333;
    box-shadow: 0 0 #cccccc00;

    margin-top: 2%;
    border-radius: 15px;

    transition: box-shadow .8s;
}

.card:hover {
    box-shadow: 0 5px #cccccc88;
}

.card:nth-child(3n) {
    margin-right: 0;
}

.card:nth-child(3n+1) {
    margin-left: 0;
}

.card-img {
    border-radius: 15px 15px 0 0;
}

.card-info {
    padding: 1.2em;
}

.crib-title, .crib-type, .crib-price {
    margin: 0;
    padding: 0;
}

.crib-title {
    margin-top: .2em;
    font-size: 1.3em;
    font-weight: 900;
}

.crib-type {
    font-weight: 400;
}

.crib-price {
    text-align: end;
    
    font-size: 1.2em;
    font-weight: 600;
    color: tomato;
}